<app-navbar></app-navbar>

<div class="container">
  <div class="row">

    <h1> Detalle de la solicitud </h1>

    <div *ngIf="solicitude">
      <p> <b>Nombre del paciente:</b> {{ solicitude.name }} </p>
      <p> <b>Tipo de sangre:</b> {{ solicitude.bloodType }} </p>
      <p> <b>Fecha de nacimiento:</b> {{ solicitude.birthDate | date:dd/MM/yyy }} </p>
      <p> <b>Cantidad de donantes que necesita:</b> {{ solicitude.amountBlood }} </p>
      <p> <b>Ciudad:</b> {{solicitude.city}} </p>
      <p> <b>Motivo por el que necesita la donación:</b> {{ solicitude.reason }} </p>
      <!-- <a [routerLink]="['/update/', solicitude._id]"> Edit </a> -->

      <button (click)="donate()">Donate</button>
      <button (click)="deleteSolicitude()"> Delete </button>
    </div>

    <div class="progress">
      <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="80" [ngStyle]='{"width": progress + "%"}'>
        <!-- <span class="sr-only">20% Complete</span> -->
      </div>
    </div>

   <!-- <div  *ngIf="solicitude.cityPosition">
     <h3 class="title is-5">Location: </h3>
       <agm-map [latitude]="solicitude.cityPosition.latitud" [longitude]="solicitude.cityPosition.longitud">
         <agm-marker [latitude]="solicitude.cityPosition.latitud" [longitude]="solicitude.cityPosition.longitud"></agm-marker>
      </agm-map>
   </div> -->

    <app-maps></app-maps>

    <a [routerLink]="['/solicitudes']"> Back to list </a>
  </div>
</div>
