<h1> Solicitar donantes </h1>
<form>
  <label> Nombre </label><br>
  <input type="text" [(ngModel)]="name" name="name"/>
  <br>
  <!--<label> Tipo de sangre </label><br>
  <input type="text" [(ngModel)]="bloodType" name="bloodType"/>-->
  <label> Tipo de sangre </label> <br>
  <select name="select" [(ngModel)]="bloodType" name="bloodType">
    <option value="A negativo">A negativo</option>
    <option value="A positivo">A positivo</option>
    <option value="B negativo">B negativo</option>
    <option value="B positivo">B positivo</option>
    <option value="O negativo">O negativo</option>
    <option value="O positivo">O positivo</option>
    <option value="AB negativo">AB negativo</option>
    <option value="AB positivo">AB positivo</option>
  </select>
  <br>
  <label> Fecha de nacimiento </label><br>
  <input type="date" [(ngModel)]="birthDate" name="birthDate"/>
  <br>
  <label> Cantidad donantes </label><br>
  <input type="number" [(ngModel)]="amountBlood" name="amountBlood"/>
  <br>
  <label> Motivo por el que solicitas sangre.. </label><br>
  <input type="text" [(ngModel)]="reason" name="reason"/>
  <br>

  <button (click)="submit()"> submit </button>
</form>
<p class="error"> {{ error }} </p>
