<nav id="mainNav" class="navbar navbar-default navbar-custom">
    <div class="container-fluid">
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="/home">Dobloo</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="page-scroll">
                    <a href="/solicitudes">Give Blood<span class="sr-only">(current)</span></a>
                </li>
                <li class="page-scroll">
                    <a href="/solicitude">Request Donors</a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Register <span class="caret"></span></a>
                  <ul class="dropdown-menu register" role="menu">
                    <li><a href="/signup"><span class="glyphicon glyphicon-circle-arrow-right"></span> Sign Up</a></li>
                    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <div *ngIf="session.user && session.startLoginCompleted">
                      <li class="li-drown"><a [routerLink]="['/profile/', session.user._id]"><span class="glyphicon glyphicon-user"></span> My profile</a><li>
                      <li class="li-drown"><a class="logout" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>
                    </div>
                  </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
