<h1> Solicitar donantes </h1>
<form>
  <label> Nombre </label><br>
  <input type="text" [(ngModel)]="name" name="name"/>
  <br>
  <label> Tipo de sangre </label><br>
  <input type="text" [(ngModel)]="bloodType" name="bloodType"/>
  <br>
  <label> Fecha de nacimiento </label><br>
  <input type="text" [(ngModel)]="birthDate" name="birthDate"/>
  <br>
  <label> Cantidad donantes </label><br>
  <input type="text" [(ngModel)]="amountBlood" name="amountBlood"/>
  <br>
  <label> Motivo por el que solicitas sangre.. </label><br>
  <input type="text" [(ngModel)]="reason" name="reason"/>
  <br>

  <button (click)="submit()"> submit </button>
</form>
<p class="error"> {{ error }} </p>
