<app-navbar></app-navbar>

<div class="container">
  <div class="row container-signup">
    <form>
      <div class="col-md-6 col-md-offset-3">
        <h1> Signup </h1>
        <div class="row">
          <div class="col-xs-6 col-md-6">
            <label> Username </label>
            <input type="text" class="form-control" [(ngModel)]="username" name="username" />
          </div>
        <div class="col-xs-6 col-md-6">
          <label> Password </label>
          <input type="password" class="form-control" [(ngModel)]="password" name="password" required/>
        </div>

      </div>
      <br>
        <label> Nombre completo </label>
        <input type="text" class="form-control" [(ngModel)]="fullName" name="fullName" />
        <br>
        <label> Email </label>
        <input type="text" class="form-control" [(ngModel)]="email" name="email" />
        <br>
        <label> Tipo de sangre </label>
        <select name="select" class="form-control" [(ngModel)]="bloodType" name="bloodType">
          <option value="A negativo">A negativo</option>
          <option value="A positivo">A positivo</option>
          <option value="B negativo">B negativo</option>
          <option value="B positivo">B positivo</option>
          <option value="O negativo">O negativo</option>
          <option value="O positivo">O positivo</option>
          <option value="AB negativo">AB negativo</option>
          <option value="AB positivo">AB positivo</option>
        </select>
        <br>
        <label> Edad </label><br>
        <input type="number" class="form-control" [(ngModel)]="years" name="years" />
        <br>
        <label> Ciudad </label><br>
        <input type="text" class="form-control" [(ngModel)]="city" name="city" />
        <br>
        <label> Peso </label><br>
        <input type="text" class="form-control" [(ngModel)]="weight" name="weight" min="1" max="50" />
        <br>
        <label> Altura </label><br>
        <input type="text" class="form-control" [(ngModel)]="height" name="height" />
        <br>
        <label> Numero de telefono </label><br>
        <input type="text" class="form-control" [(ngModel)]="phoneNumber" name="phoneNumber" />
        <br>

        <button type="submit" class="signup-btn" (click)="signup()"> Signup <span class="glyphicon glyphicon-send"></span> </button>
        <div class="text-signup">
          <a class="si-cuenta" [routerLink]="['/login']"> Already has an account, Go to login </a>

        </div>
    </div>
    </form>
    <p class="error"> {{ error }} </p>
  </div>
</div>

<app-footer></app-footer>
