<app-navbar></app-navbar>
<div class="container">
  <div class="row container-list">
    <h1> Personas que necesitan de ti </h1>
    <div *ngFor="let solicitude of solicitudes | async" class="blocky">
      <div class="col-md-6 all-solicitudes">
        <div class="thumbnail one-solicitude">
          <div class="caption info-solicitude">
            <p> <b>Nombre del paciente:</b> {{ solicitude.name }} </p>
            <p> <b>Motivo:</b>{{ solicitude.reason }} </p>
            <a class="btn-list" [routerLink]="['/solicitudes', solicitude._id]"> View Details </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
        <div class="info-maps">
          <h2>Donaciones realizadas a lo largo de este año</h2>
      <app-charts></app-charts>
    </div>
  </div>
</div>

<app-footer></app-footer>
