<app-navbar></app-navbar>

<div class="container">
  <div class="row container-login">
    <form>
      <div class="login-form">
        <h1>Login</h1>
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <div class="form-group">
          <label> Username </label>
          <input type="text" class="form-control" [(ngModel)]="username" name="username" />
        </div>
        <br>
        <label> Password </label><br>
        <input type="password" class="form-control" [(ngModel)]="password" name="password" />
        <br>

        <button type="button" class="login-btn" (click)="login()"> Login</button>
      </div>
    </form>
    <p class="error"> {{ error }} </p>
  </div>
</div>

<app-footer></app-footer>
